<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h4 class="float-start mt-3">Create your first collection</h4>
      <br clear="all">
      <div class="d-flex flex-wrap apps-container mt-2">
        <div class="d-flex pb-3 pe-3 app-card-container">
          <div class="card clickable-card bg-gray-100" onclick="Turbo.visit('/nft_creator/one_of_one')">
            <div class="card-body text-center">
              <img src="/images/icons/apps/image-solid.svg" style="opacity: 0.7" class="w-50 mb-4">
              <h5 class="card-title">1-of-1</h5>
            </div>
          </div>
        </div>
        <div class="d-flex pb-3 pe-3 app-card-container">
          <div class="card clickable-card bg-gray-100" onclick="Turbo.visit('/nft_creator/limited_edition')">
            <div class="card-body text-center">
              <img src="/images/icons/apps/images.svg" style="opacity: 0.7" class="w-50 mb-4">
              <h5 class="card-title">Limited Edition</h5>
            </div>
          </div>
        </div>
        <div class="d-flex pb-3 pe-3 app-card-container">
          <div class="card clickable-card bg-gray-100" onclick="Turbo.visit('/nft_creator/open_edition')">
            <div class="card-body text-center">
              <img src="/images/icons/apps/images.svg" style="opacity: 0.7" class="w-50 mb-4">
              <h5 class="card-title">Open Edition</h5>
            </div>
          </div>
        </div>
        <% if false %>
          <div class="d-flex pb-3 pe-3 app-card-container">
            <div class="card clickable-card bg-gray-100">
              <div class="card-body text-center">
                <img src="/images/icons/apps/file-person-fill.svg" style="opacity: 0.4" class="w-50 mb-4">
                <h5 class="card-title text-gray-600">PFP (Coming Soon)</h5>
              </div>
            </div>
          </div>
        <% end %>
        <div class="d-flex pb-3 pe-3 app-card-container">
          <div class="card clickable-card bg-gray-100" onclick="Turbo.visit('/nft_creator/music')">
            <div class="card-body text-center">
              <img src="/images/icons/apps/music-solid.svg" style="opacity: 0.7" class="w-50 mb-4">
              <h5 class="card-title">Music</h5>
            </div>
          </div>
        </div>
        <div class="d-flex pb-3 pe-3 app-card-container">
          <div class="card clickable-card bg-gray-100" onclick="Turbo.visit('/nft_creator/video')">
            <div class="card-body text-center">
              <img src="/images/icons/apps/camera-reels-fill.svg" style="opacity: 0.7" class="w-50 mb-4">
              <h5 class="card-title">Video</h5>
            </div>
          </div>
        </div>
        <div class="d-flex pb-3 pe-3 app-card-container">
          <div class="card clickable-card bg-gray-100" onclick="Turbo.visit('/nft_creator/concert')">
            <div class="card-body text-center">
              <img src="/images/icons/apps/pin-map.svg" style="opacity: 0.7" class="w-50 mb-4">
              <h5 class="card-title">Concert</h5>
            </div>
          </div>
        </div>
        <div class="d-flex pb-3 pe-3 app-card-container">
          <div class="card clickable-card bg-gray-100" onclick="Turbo.visit('/nft_creator/fan_card')">
            <div class="card-body text-center">
              <img src="/images/icons/apps/person-vcard-fill.svg" style="opacity: 0.7" class="w-50 mb-4">
              <h5 class="card-title">Fan card</h5>
            </div>
          </div>
        </div>
        <% if false %>
          <div class="d-flex pb-3 pe-3 app-card-container">
            <div class="card clickable-card bg-gray-100" onclick="Turbo.visit('/nft_creator/flight')">
              <div class="card-body text-center">
                <img src="/images/icons/apps/airplane-engines-fill.svg" style="opacity: 0.7" class="w-50 mb-4">
                <h5 class="card-title">Flight</h5>
              </div>
            </div>
          </div>
          <div class="d-flex pb-3 pe-3 app-card-container">
            <div class="card clickable-card bg-gray-100" onclick="Turbo.visit('/nft_creator/luxury_watch')">
              <div class="card-body text-center">
                <img src="/images/icons/apps/watch.svg" style="opacity: 0.7" class="w-50 mb-4">
                <h5 class="card-title">Luxury Watch</h5>
              </div>
            </div>
          </div>
        <% end %>
        <div class="d-flex pb-3 pe-3 app-card-container">
          <div class="card clickable-card bg-gray-100" onclick="Turbo.visit('/nft_creator/free_mint')">
            <div class="card-body text-center">
              <img src="/images/icons/apps/file-binary-fill.svg" style="opacity: 0.7" class="w-50 mb-4">
              <h5 class="card-title">Free Mint</h5>
            </div>
          </div>
        </div>
        <div class="d-flex pb-3 pe-3 app-card-container">
          <div class="card clickable-card bg-gray-100" onclick="Turbo.visit('/nft_creator/generic_nft')">
            <div class="card-body text-center">
              <img src="/images/icons/apps/hexagon-fill.svg" style="opacity: 0.7" class="w-50 mb-4">
              <h5 class="card-title">Generic NFT</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
